
h1{
    color: rgb(250, 250, 250);
    text-align: center;
}

.nav-item{
  font-weight: bold;
  font-size: 30px;
  
  
  
}



.nav-item a{
  color: rgb(8, 8, 8);
  font-weight: bold;
  
}


body{ 
  font-family: 'Bebas Neue', cursive;
  background-color: rgb(7, 7, 7);}

.oro{
    color: rgb(250, 246, 246);
    text-align: center;
    font-size: 150%;
}

/*
.fondoinicio{
    background-color: rgb(255, 255, 255);
    background-image: url(https://i.pinimg.com/564x/b8/94/94/b894940192b8cbdf25a76ee40cb7f763.jpg);
    background-position:20%;
}
.inicio li{
    font-size: xx-large;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    line-height: 1.0;
    margin: 10px;
    padding: 10px;
}

.inicio li a{
    text-decoration: none;
    color: rgb(238, 232, 232);
    font-family: 'Bebas Neue', cursive;
    
    
}

.inicio li a:hover{
    background-color:rgb(6, 5, 99);
}*/

.tituloo{
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 500%; 
    border: solid 5px white;
    
}
.titulo2{
    text-align: center;
    color: rgb(243, 239, 239);
    font-size: 250%;
    font-family: 'Bebas Neue', cursive;
}
.parrafo1{
    text-align: center;
    font-size: 150%;
    color: rgb(245, 237, 237);
}


.tipos{
    
    color: rgb(243, 235, 235);
    font-size: 250%;
    text-align: center;
}


.tipos1 li{
    color: rgb(248, 239, 239);
    font-size: 150%;
   text-align: center;   
}


.footerfondo li{
    color: rgb(235, 232, 232);
    background-color: white;
    font-size: 150%;
    list-style-type: none;
    text-align: center;
    background-image: url(https://i.pinimg.com/564x/78/06/3d/78063d629b2cc402458e60b6df335004.jpg);
   
  

}

/*SE ENCARGA DE TODO EL ESTILO DEL TEXTO DE TODA LA PAGINA*/


.dato{
    text-align: center;
    
}

.btn-neon{
  position: relative;
  display: inline-block;
  padding: 5px, 10px;
  color: rgb(54, 241, 47);
  letter-spacing: 3px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
transition: 0.2s;
}

.btn-neon:hover{
  background: chartreuse;
  box-shadow: 0 0 5px chartreuse, 0 0 1px chartreuse,
  0 0 20px chartreuse;
  transition-delay: 0.2s;
}

.btn-neon span{
  position: absolute;
  display: block;
}
#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,chartreuse); 
}

.btn-neon:hover #span1{
  left: 100%;
  transition: 1s;
}
#span3{
  bottom: 0;
  right:  -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,chartreuse); 
}

.btn-neon:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#span2{
  top: -100;
  right:  0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,chartreuse); 
}

.btn-neon:hover #span2{
  top:  100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4{
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,chartreuse); 
}

.btn-neon:hover #span4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}


.videoindex{
    text-align: center;
}


/* HTML QUIENES SOMOS*/

.mainsomos{
 display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "h1 h1 h1" "p p p" "img img img" "btn btn btn" "footer footer footer";
}

.h1somos{
  grid-area: h1;
}

.psomos{
  grid-area: p;
}

.imgsomos{
  grid-area: img;
}

.btn-neon{
  grid-area: btn;
}

.footersomos{
  grid-area: footer;
}

.footersomos li{
    color: rgb(235, 232, 232);
    background-color: white;
    font-size: 150%;
    list-style-type: none;
    text-align: center;
    background-image: url(https://i.pinimg.com/564x/78/06/3d/78063d629b2cc402458e60b6df335004.jpg);}

    .fondoiniciosomos{
        background-color: rgb(255, 255, 255);
        background-image: url(https://i.pinimg.com/564x/b8/94/94/b894940192b8cbdf25a76ee40cb7f763.jpg);
        background-position:20%;
    }
    /*.iniciosomos li{
        font-size: xx-large;
        list-style-type: none;
        text-decoration: none;
        display: inline-block;
        line-height: 3.0;
        margin: 10px;
        padding: 7px;
    }
    
    .iniciosomos li a{
        text-decoration: none;
        color: rgb(245, 243, 243);
        font-family: 'Bebas Neue', cursive;
        
        
        
    }
    
    .iniciosomos li a:hover{
        background-color:rgb(6, 5, 99);
    }*/

    .parrafosomos{
        color: rgb(243, 235, 235);
font-size: 250%;
text-align: center;
    }

    .titulosomos{
        font-size: 300%;
    }
/*no hace nada a menos que tenga"img"*/
  .imagensomos{
    display: block;
    margin:auto
  }

  .imagensomos{
      text-align: center;
  }
 .h1somos{
   border: 2px solid rgb(15, 15, 15);
   box-shadow: inset 0 0 5px rgb(11, 233, 11), 0 0 10px rgb(48, 224, 48) ;
 margin: auto;
 max-width: 300px;
 text-align: center;
 padding: 10px;
  }


    /*HTML CONTACTO*/

    .maincontacto{
      display: grid;
      grid-template-areas: "h1 h1 h1"
                           "info info info" 
                           "h3 h3 h3"
                           "dato dato dato"
                           "mensa mensa mensa"
                           "opcion opcion opcion" 
                           "opcicolo opcicolo opcicolo"
                           "ul ul ul"
                           "btn btn btn"
                          "footer footer footer";
    /*grid-template-rows: 80px 1fr 40px 40px 40px 40px 40px 50px 80px 150px
      ;*/
      grid-template-columns: repeat(3, 1fr);
    }


    .h1contacto{
      grid-area: h1;
    }

    .infocontacto{
      grid-area: info;
    }

    .h3oro{
      grid-area: h3;
    }

    .datodatocontacto{
      grid-area: dato;
    }

    .mensacontacto{
      grid-area: mensa;
      display: flex;
      justify-content: center;
    }

    .opcioncontacto{
      grid-area: opcion;
      display: flex;
      justify-content: center;
    }

    .opcioncolor{
      grid-area: opcicolo;
      display: flex;
      justify-content: center;
    }

    .datocont{
      grid-area: ul;
    }

    .btn-neon{
      grid-area: btn;
      
      
    }

    .footercontacto{
      grid-area: footer;
      
    }

    .footercontacto li{
        color: rgb(235, 232, 232);
        background-color: white;
        font-size: 150%;
        list-style-type: none;
        text-align: center;
        background-image: url(https://i.pinimg.com/564x/78/06/3d/78063d629b2cc402458e60b6df335004.jpg);}

       .contactocontacto h3{
        font-size: 200%;
        text-align: center;
        color: white;
       }
      .contactocontacto p{
        font-size: 150%;
        text-align: center;
        color: white;
      }
      
      .datocontacto{
        font-size: 90%;
        text-align: center;
        color: white;
      }
.titulocontacto{
    font-size: 250%;
}


  .opcioncolor{
      color:rgb(248, 241, 241) ;
  }

/* HTML DISEÑOS*/
/*grid mas flex diseño*/
 /* .maindiseño {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "h1d h1d h1d" "dise1 dise2 dise3" "dise4 dise5 dise6" ". dise7 ." "btn btn btn";
  }

  .h1diseño {
    grid-area: h1d;
  }

  .dise11 {
    grid-area: dise1;
    justify-self: center;
  }

  .dise12 {
    grid-area: dise2;
  }
  
  .dise13 {
    grid-area: dise3;
  }

  .dise14 {
    grid-area: dise4;
  }

  .dise15 {
    grid-area: dise5;
  }

  .dise16 {
    grid-area: dise6;
  }

  .dise17 {
    grid-area: dise7;
  }
 
  .btn-neon {
    grid-area: btn;
  }
      
      .dise1{
        width: 100%;
      }
      .dise2{
        width: 100%;
        
      }
      .dise3{
        width: 100%;
        
      }
      .dise4{
        width: 100%;
        
      }
      .dise5{
        width: 100%;
        
      }
      .dise6{
        width: 100%;
        
      }
      .dise7{
        width: 100%;
        
      }
      .diseñoscentro{
        text-align: center;
      }  */
      
      .footerdiseño li{
       color: rgb(235, 232, 232);
       background-color: white;
       font-size: 150%;
       list-style-type: none;
       text-align: center;
       background-image: url(https://i.pinimg.com/564x/78/06/3d/78063d629b2cc402458e60b6df335004.jpg);}
      
      
      /*HTML PROMOCIONES*/
      
      .mainpromociones{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "h1 h1 h1" "torna mundi davi" "precio1 precio2 precio3" "btn btn btn" "footer footer footer";
        
      }

      .h1promociones{
        grid-area: h1;
      }
      
      .centro1{
        grid-area: torna;
        
      }

      .centro2{
        grid-area: mundi;
      }

      .centro3{
        grid-area: davi;
        width: 100%;
      }

      .precio1{
        grid-area: precio1;
        justify-content: center;
      }

      .btn-neon{
        grid-area: btn;
      }

      .footerpromociones{
        grid-area: footer;
      width: 100%;
      }


      .footerpromociones li{
        color: rgb(235, 232, 232);
        background-color: white;
        font-size: 150%;
        list-style-type: none;
        text-align: center;
        background-image: url(https://i.pinimg.com/564x/78/06/3d/78063d629b2cc402458e60b6df335004.jpg);}
        

          .precio1{
            font-weight: bold;
            font-size: 200%;
            text-align: center;
            color: white;
          }

          .torna{
              width: 100%;
             
          }
          .centro1{
              text-align: center;
          }

          .mundi{
            width: 100%;
          }
          .precio2{
            font-weight: bold;
            font-size: 200%;
            text-align: center;
            color: white;
          }
          .centro2{
              text-align: center;
          }

          .centro3{
              text-align: center;
          }
          .davi{
            width: 100%;
          }
          .precio3{
            font-weight: bold;
            font-size: 200%;
            text-align: center;
            color: white;
          }
        
          /*grid y flex index*/
/*body{ 
  font-family: 'Bebas Neue', cursive;
  background-color: rgb(7, 7, 7);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "main main" "footer footer";
}

header {
  grid-area: header;
  justify-self: center;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: center;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}*/

/* responsive index*/
@media only screen and (min-width:375px) and (max-width:767px) {
  
.bodyindex{
  grid-template-areas: "header header header"
                       "main main main" 
                       "footer footer footer";
  grid-template-rows: 650px 3fr 100px;
  grid-template-columns:3, 1fr ;
}  


.tituloo{
  font-size: 60px;
  
}

.tipos1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.videoindex{
  width: 50px;
  display: flex;
  justify-content: center;
  
}

}


@media only screen and (min-width:768px) and (max-width:1023px) {
  .bodyindex{
    grid-template-areas: "header header header"
                         "main main main" 
                         "footer footer footer";
    grid-template-rows: 100px 3fr 100px;
    grid-template-columns:3, 1fr ;
  }  

.tituloo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipos1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

}

@media only screen and (min-width:1023px) and (max-width:1200px){
  .tituloo{
    display: flex;
    justify-content: center;
  }

}

/*responsive para contacto*/
@media only screen and (min-width:375px) and (max-width:767px){


                    .titulocontacto{
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                    }

}

@media only screen and (min-width:768px) and (max-width:1023px) {

  

                      .titulocontacto{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                      } 

}


@media only screen and (min-width:1023px) and (max-width:1200px){
  .titulocontacto{
    display: flex;
    justify-content: center;
  }

}

/*responsive quienes somos*/
@media only screen and (min-width:375px) and (max-width:767px){
  .titulosomos{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


}

@media only screen and (min-width:768px) and (max-width:1023px){
 
  .imagensomos{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .h1somos{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width:1023px) and (max-width:1200px){
  .h1somos{
    display: flex;
    justify-content: center;
  }

}

/*responsive promociones*/
@media only screen and (min-width:375px) and (max-width:767px){

  .h1promociones{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

@media only screen and (min-width:768px) and (max-width:1023px){
  .h1promociones{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

@media only screen and (min-width:1023px) and (max-width:1200px){
  .h1promociones{
    display: flex;
    justify-content: center;
  }

}

/*responsive diseños*/
@media only screen and (min-width:375px) and (max-width:767px){
  .h1diseño{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


}

@media only screen and (min-width:768px) and (max-width:1023px){
  .h1diseño{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

@media only screen and (min-width:1023px) and (max-width:1200px){

  .h1diseño{
    display: flex;
    justify-content: center;
  }

}