@charset "UTF-8";
/*declaramos nuestro mapa*/
/*creamos el bucle para usar los valores del mapa*/
.btn--i {
  background-color: green; }

.btn--v {
  background-color: violet; }

/*map get*/
btn-- {
  background-color: white;
  text-align: center;
  padding: 1rem;
  font-size: 40px; }

/*extend*/
.btn-- {
  background-color: green;
  color: white; }

/*mixins*/
.btn-- {
  height: 50px;
  width: 50px; }

h1 {
  color: #fafafa;
  text-align: center; }

.nav-item {
  font-weight: bold;
  font-size: 30px; }
  .nav-item a {
    color: #080808;
    font-weight: bold; }

body {
  font-family: "Bebas Neue", cursive;
  background-color: #070707; }

.tituloo {
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  font-size: 500%;
  border: solid 5px white; }

.titulo2 {
  text-align: center;
  color: #f3efef;
  font-size: 250%;
  font-family: 'Bebas Neue', cursive; }

.parrafo1 {
  text-align: center;
  font-size: 150%;
  color: #f5eded; }

.tipos {
  color: #f3ebeb;
  font-size: 250%;
  text-align: center; }

.cards-wrapper {
  display: flex; }

.card {
  margin: 1em auto;
  width: cal(100%/3); }

.image-wrapper {
  height: 22vw;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex; }

.image-wrapper {
  max-width: 100%;
  height: 100%; }

.card-title {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #1ac929; }

.card-text {
  text-align: center;
  align-items: center;
  justify-content: center; }

.tipos1 li {
  color: #f8efef;
  font-size: 150%;
  text-align: center; }

.dato {
  text-align: center; }

.btn-neon, .btn-- {
  position: relative;
  display: inline-block;
  padding: 5px, 10px;
  color: #36f12f;
  letter-spacing: 3px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  transition: 0.2s; }
  .btn-neon:hover, .btn--:hover {
    background: chartreuse;
    box-shadow: 0 0 5px chartreuse, 0 0 1px chartreuse, 0 0 20px chartreuse;
    transition-delay: 0.2s; }
  .btn-neon span, .btn-- span {
    position: absolute;
    display: block; }

#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, chartreuse); }

.btn-neon:hover #span1, .btn--:hover #span1 {
  left: 100%;
  transition: 1s; }

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, chartreuse); }

.btn-neon:hover #span3, .btn--:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s; }

#span2 {
  top: -100;
  right: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, chartreuse); }

.btn-neon:hover #span2, .btn--:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s; }

#span4 {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, chartreuse); }

.btn-neon:hover #span4, .btn--:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s; }

.videoindex {
  text-align: center; }

.footerfondo li {
  color: #ebe8e8;
  background-color: white;
  font-size: 150%;
  list-style-type: none;
  text-align: center;
  background-image: url(https://i.pinimg.com/564x/78/06/3d/78063d629b2cc402458e60b6df335004.jpg); }

.imagen-wrapper {
  display: flex; }

.diseño1-0 {
  display: flex;
  flex-direction: column;
  align-content: flex-start; }

/* .maindiseño {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "h1d h1d h1d" "dise1 dise2 dise3" "dise4 dise5 dise6" ". dise7 ." "btn btn btn";
  }

  .h1diseño {
    grid-area: h1d;
  }

  .dise11 {
    grid-area: dise1;
    justify-self: center;
  }

  .dise12 {
    grid-area: dise2;
  }
  
  .dise13 {
    grid-area: dise3;
  }

  .dise14 {
    grid-area: dise4;
  }

  .dise15 {
    grid-area: dise5;
  }

  .dise16 {
    grid-area: dise6;
  }

  .dise17 {
    grid-area: dise7;
  }

  .btn-neon {
    grid-area: btn;
  }

  .dise1{
    width: 100%;
  }
  .dise2{
    width: 100%;
    
  }
  .dise3{
    width: 100%;
    
  }
  .dise4{
    width: 100%;
    
  }
  .dise5{
    width: 100%;
    
  }
  .dise6{
    width: 100%;
    
  }
  .dise7{
    width: 100%;
    
  } */
.diseñoscentro {
  text-align: center; }

.footerdiseño li {
  color: #ebe8e8;
  background-color: white;
  font-size: 150%;
  list-style-type: none;
  text-align: center;
  background-image: url(https://i.pinimg.com/564x/78/06/3d/78063d629b2cc402458e60b6df335004.jpg); }

.mainpromociones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "h1 h1 h1" "torna mundi davi" "precio1 precio2 precio3" "btn btn btn" "footer footer footer"; }

.h1promociones {
  grid-area: h1; }

.centro1 {
  grid-area: torna; }

.centro2 {
  grid-area: mundi; }

.centro3 {
  grid-area: davi;
  width: 100%; }

.precio1 {
  grid-area: precio1;
  justify-content: center; }

.btn-neon, .btn-- {
  grid-area: btn; }

.footerpromociones {
  grid-area: footer;
  width: 100%; }
  .footerpromociones li {
    color: #ebe8e8;
    background-color: white;
    font-size: 150%;
    list-style-type: none;
    text-align: center;
    background-image: url(https://i.pinimg.com/564x/78/06/3d/78063d629b2cc402458e60b6df335004.jpg); }

.precio1 {
  font-weight: bold;
  font-size: 200%;
  text-align: center;
  color: white; }

.torna {
  width: 100%; }

.centro1 {
  text-align: center; }

.mundi {
  width: 100%; }

.precio2 {
  font-weight: bold;
  font-size: 200%;
  text-align: center;
  color: white; }

.centro2 {
  text-align: center; }

.centro3 {
  text-align: center; }

.davi {
  width: 100%; }

.precio3 {
  font-weight: bold;
  font-size: 200%;
  text-align: center;
  color: white; }

.btn1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #36f12f;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s; }
  .btn1:hover {
    background: chartreuse;
    box-shadow: 0 0 5px chartreuse, 0 0 1px chartreuse, 0 0 5px chartreuse;
    transition-delay: 0.2s; }

image-wrapper {
  display: flex; }

.maincontacto {
  display: grid;
  grid-template-areas: "h1 h1 h1" "info info info"  "h3 h3 h3" "dato dato dato" "mensa mensa mensa" "opcion opcion opcion"  "opcicolo opcicolo opcicolo" "ul ul ul" "btn btn btn" "footer footer footer";
  grid-template-columns: repeat(3, 1fr); }

.h1contacto {
  grid-area: h1; }

.infocontacto {
  grid-area: info; }

.h3oro {
  grid-area: h3; }

.datodatocontacto {
  grid-area: dato; }

.mensacontacto {
  grid-area: mensa;
  display: flex;
  justify-content: center; }

.opcioncontacto {
  grid-area: opcion;
  display: flex;
  justify-content: center; }

.opcioncolor {
  grid-area: opcicolo;
  display: flex;
  justify-content: center; }

.datocont {
  grid-area: ul; }

.btn-neon, .btn-- {
  grid-area: btn; }

.footercontacto {
  grid-area: footer; }
  .footercontacto li {
    color: #ebe8e8;
    background-color: white;
    font-size: 150%;
    list-style-type: none;
    text-align: center;
    background-image: url(https://i.pinimg.com/564x/78/06/3d/78063d629b2cc402458e60b6df335004.jpg); }

.contactocontacto h3 {
  font-size: 200%;
  text-align: center;
  color: white; }

.contactocontacto p {
  font-size: 150%;
  text-align: center;
  color: white; }

.datocontacto {
  font-size: 90%;
  text-align: center;
  color: white; }

.titulocontacto {
  font-size: 250%; }

.opcioncolor {
  color: #f8f1f1; }

.mainsomos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "h1 h1 h1" "p p p" "img img img" "btn btn btn" "footer footer footer"; }

.h1somos {
  grid-area: h1; }

.psomos {
  grid-area: p; }

.imgsomos {
  grid-area: img; }

.btn-neon, .btn-- {
  grid-area: btn; }

.footersomos {
  grid-area: footer; }
  .footersomos li {
    color: #ebe8e8;
    background-color: white;
    font-size: 150%;
    list-style-type: none;
    text-align: center;
    background-image: url(https://i.pinimg.com/564x/78/06/3d/78063d629b2cc402458e60b6df335004.jpg); }

.fondoiniciosomos {
  background-color: white;
  background-image: url(https://i.pinimg.com/564x/b8/94/94/b894940192b8cbdf25a76ee40cb7f763.jpg);
  background-position: 20%; }

.parrafosomos {
  color: #f3ebeb;
  font-size: 250%;
  text-align: center; }

.titulosomos {
  font-size: 300%; }

.imagensomos {
  display: block;
  margin: auto;
  text-align: center; }

.h1somos {
  border: 2px solid #0f0f0f;
  box-shadow: inset 0 0 5px #0be90b, 0 0 10px #30e030;
  margin: auto;
  max-width: 300px;
  text-align: center;
  padding: 10px; }
